/dist/
/anjunganmandiriSEP/dist/
/anjunganmandiriSEP/build/
/anjunganmandiriSEP/nbproject/private/
/KhanzaHMSAnjungan/nbproject/private/
/KhanzaHMSAnjungan/build/
dist.rar
dist2/
nbproject/private/
*.log
# NetBeans / Java Desktop
/build/
/dist/
/nbbuild/
/nbdist/

# tambahkan ini kalau mau
cache/*.iyem
# Hasil compile
*.class

# Data sensitif / bukan bagian source code -- jangan pernah ke-track
/backup_db/
/design/
export_*.xls
/.claude/
